@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;

}

:root {
    --color-green: #5aaf9b;
    --color-gray: #ebf0f1;
    --color-white: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;


}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 70vh;
    background-color: var(--color-white);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;


}

/*Sign-in ENTRAR*/
.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-green);
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
    flex: 1;
    padding: 50px 20px;
}

.sign-in h2 {
    color: var(--color-white);
    font-size: 1.7em;
    padding-bottom: 10px;

}

.sign-in p {
    color: var(--color-white);
    font-size: 0.8em;
    font-weight: 300;
    padding: 10px 15px;
}

.sign-in button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 70px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--color-green);
}

.sign-in button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.sign-in button a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Sign up Inscrever-se*/
.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
    flex: 2;
}

.sign-up h2 {
    color: var(--color-green);
    font-size: 1.7em;
    padding-bottom: 10px;
    padding-top: 50px;
}

.social-media {
    display: flex;
}

.social-media li {
    list-style: none;

}

.social media a {
    text-decoration: none;
}

.social-media i {
    color: #bababa;
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 25px;

}

.social-media i:hover {
    transition: .3s;
    color: #8b8989;
    padding: 10px;
    border: 1px solid #8b8989;

}

.resume p {
    color: rgb(185, 184, 184);
    font-size: 0.9em;
    margin-bottom: 1rem;
}

.form form {
    display: flex;
    flex-direction: column;
}

form label, input {
    background-color: #e2e2e2;
    padding: 3px 15px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
}

form label i {
    color: #8b8989;
}

form input#btn {
    background-color: var(--color-green);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

form input#btn:hover {
    cursor: pointer;
    text-decoration: underline;

}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1000px) {
    .sign-up {
        padding-bottom: 50px;

    }
}

@media screen and (max-width: 800px) {

    main#main {
        flex-direction: column;
        margin: 20vh 10vw 30vh 10vw;
    }

    .sign-in {
        border-radius: 10px 10px 0 0;
    }

    .sign-up {
        border-radius: 0 0 10px 10px;
    }
}